img {
    height: 150px;
    width: 150px;
}
.card {
    padding: 30px;
    width: 170px;
    border-radius: 10px;
    /* border: aqua; */
    background-color: darkgray;
    margin-bottom: 10px;
    margin-right: 10x;
}
button.add-cart {
    padding: 12px;
    text-decoration: none;
    border: none;
    border-radius: 13px;
    /* margin-top: -10px; */
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section :hover {
    box-shadow: 10px 10px 10px rgb(107, 159, 142);
    cursor: pointer;
}